<section class="formacao-secao secao">
  <div class="container">

    <div class="formacao-container">
      <h2 class="titulo">Formação</h2>
      <div class="formacao-txts">
        <p class="formacao-data">Fevereiro de 2022 - Julho de 2024</p>
        <h3 class="formacao-tit">(CST) Análise e Desenvolvimento de Sistemas</h3>
        <h4 class="formacao-subtit">UNISUAM - Centro Universitário Augusto Motta</h4>
        <p class="formacao-txt">Estrutura de Sistemas, Dados, Programação, Probabilidade, Estatística, Sistemas
          Operacionais, Desenvolvimento de Software para Internet (Front-end), Infraestrutura e Arquiteturas para
          Suporte as Aplicações, Gerência de Projetos de Software, Desenvolvimento de Software para Internet (Back-end)
          e Desenvolvimento de Aplicativos Mobile.</p>
      </div>
    </div>

    <div class="esperiencia-container">
      <h2 class="titulo center">Experiência</h2>
      <div class="experiencia-grid">

        <div class="experiencia-item">
          <p class="formacao-data">Abril de 2022 - Presente</p>
          <h3 class="formacao-tit">Desenvolvedor Web - Ellos Design</h3>
          <h4 class="formacao-subtit">Guarulhos - SP | Remoto</h4>
          <ul>
            <li>Desenvolvimento de Layouts personalizados.</li>
            <li>Aplicação de responsividade para dispositivos mobile.</li>
            <li>Otimização do desempenho de sites.</li>
            <li>Integração do Front-End com o Back-End.</li>
            <li>Deploy para servidores de testes.</li>
            <li>Administração de Banco de Dados (MySQL / MariaDB)</li>
          </ul>
        </div>

        <div class="experiencia-item">
          <p class="formacao-data">Março de 2022 - Abril de 2022</p>
          <h3 class="formacao-tit">Desenvolvedor Web - SS Tecnologia</h3>
          <h4 class="formacao-subtit">Rio de Janeiro - RJ</h4>
          <ul>
            <li>Implementação de layouts</li>
            <li>Desenvolvimento de aplicações web.</li>
            <li>Debug e manutenção em sistemas legado.</li>
            <li>Solução de problemas de compatibilidade.</li>
            <li>Otimização do desempenho de sites.</li>
            <li>Trabalho em equipe para integração do Front-End com o Back-End.</li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</section>