<div class="contato-secao secao">
  <div class="container">

    <div class="contato-grid">

      <div class="contato-form">
        <form action="">
          <h2 class="titulo">Vamos Trabalhar Juntos</h2>
          <p>Minha paixão é desenvolver de forma simples e eficiente. Vamos conversar!</p>

          <div class="input-grid">
            <div class="input-container">
              <label for="nome">Nome</label>
              <input type="text" id="nome">
            </div>

            <div class="input-container">
              <label for="telefone">Telefone</label>
              <input type="tel" id="telefone">
            </div>
          </div>

          <div class="input-container">
            <label for="email">E-mail</label>
            <input type="email" id="email">
          </div>

          <div class="input-container">
            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem"></textarea>
          </div>


        </form>
      </div>

      <div class="contatos-botoes">

        <a href="" class="contato-item">
          <figure>
            <img src="./img/whatsapp.svg" alt="">
          </figure>
          <div class="contato-item-txts">
            <h3 class="contato-item-tit">WhatsApp</h3>
            <p>(21) 99511-2602</p>
          </div>
        </a>

        <a href="" class="contato-item">
          <figure>
            <img src="./img/email.svg" alt="">
          </figure>
          <div class="contato-item-txts">
            <h3 class="contato-item-tit">E-mail</h3>
            <p>thiagodesousarocha1311&#64;gmail.com</p>
          </div>
        </a>

        <a href="" class="contato-item">
          <figure>
            <img src="./img/linkedin.svg" alt="">
          </figure>
          <div class="contato-item-txts">
            <h3 class="contato-item-tit">LinkedIn</h3>
            <p>https://www.linkedin.com/in/thiago-de-sousa-rocha/</p>
          </div>
        </a>

      </div>
    </div>

  </div>
</div>
