.skills-secao {
}

.skills-carrossel {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.skill-img {
  width: 100px;
  height: 100px;
}

.skill-tit {
  font-weight: 300;
  font-size: 20px;
}

// SWIPER (CARROSSEL)
swiper-container::part(bullet-active) {
  background-color: var(--cor-primaria);
}

swiper-container::part(bullet) {
  background-color: #fff;
}

// MOBILE
@media (max-width: 768px) {
  .skill-img {
    width: 70px;
    height: 70px;
  }

  .skill-tit {
    font-size: 16px;
  }
}
