<section class="skills-secao secao">
  <div class="container">
    <h2 class="titulo center">Minhas Skills</h2>
  </div>

  <div class="skills-carrossel">
    <swiper-container class="mySwiper swiper-skills" pagination="false" slides-per-view="5" space-between="30"
      free-mode="true" loop="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" [breakpoints]="{
        '1024': {
          'slidesPerView': 5
        },
        '768': {
          'slidesPerView': 4
        },
        '425': {
          'slidesPerView': 3
        },
        '1': {
          'slidesPerView': 3
        }
      }">

      <swiper-slide *ngFor="let skill of skills" class="skill">
        <picture class="skill-img"><img [src]="skill.img" [alt]="skill.titulo" width="100px" height="100px">
        </picture>
        <p class="skill-tit">{{ skill.titulo }}</p>
      </swiper-slide>

    </swiper-container>

  </div>
</section>
