<section class="apresentacao-secao">
  <div class="container">
    <div class="apresentacao-container">
      <p class="apresentacao-texto texto">Olá, seja bem vindo(a)! Meu nome é <strong>Thiago Rocha</strong>, mas pode me chamar
        de "<strong>Dithan</strong>".</p>
      <h1 class="apresentacao-titulo">Software Developer</h1>

      <div class="btn-container">
        <a class="btn-primario" href="">Currículo</a>
        <a class="btn-primario btn-github" href="">Github</a>
        <a class="btn-primario btn-linkedin" href="">LinkedIn</a>
      </div>

      <a href="#sobre" class="apresentacao-link-nav">Confira Mais <img src="./img/seta.svg" alt="" width="26px"
          height="18px"></a>
    </div>
  </div>

  <picture class="apresentacao-img"><img src="./img/apresentacao.png" alt="Homem desenvolvendo uma aplicação em seu computador"></picture>
</section>
