.apresentacao-secao {
  position: relative;
  padding-top: 183px;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: -220px;
    background: radial-gradient(#4a2cc5, #5a83eb);
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.15;
    z-index: -1;
  }
}
// .apresentacao-container {
// }

.apresentacao-texto {
  font-size: 36px;
  margin-bottom: 70px;
  max-width: 25ch;
  line-height: 120%;
}

.apresentacao-titulo {
  font-size: 40px;
  margin-bottom: 70px;
}

.apresentacao-container .btn-container {
  margin-bottom: 70px;

  a {
    color: #fff;
  }
}

.apresentacao-link-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 32px;

  img {
    display: block;
    width: 26px;
    height: 18px;
  }
}

.apresentação-img {
  position: absolute;
  width: auto;
  height: calc(100% - 113px);
  top: 0;
  right: 0;
  margin-top: 113px;
}
