.apresentacao-secao {
  position: relative;
  padding-top: 183px;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: -220px;
    background: radial-gradient(#4a2cc5, #5a83eb);
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.15;
    z-index: -1;
  }
}
// .apresentacao-container {
// }

.apresentacao-texto {
  font-size: 36px;
  margin-bottom: 70px;
  max-width: 25ch;
  line-height: 120%;
}

.apresentacao-titulo {
  font-size: 40px;
  margin-bottom: 70px;
}

.apresentacao-container .btn-container {
  margin-bottom: 70px;

  a {
    color: #fff;
  }
}

.apresentacao-link-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 32px;
  font-weight: 300;

  img {
    display: block;
    width: 26px;
    height: 18px;
    transition: 0.3s ease-out;
  }

  &:hover {
    img {
      margin-top: 5px;
    }
  }
}

.apresentacao-img {
  position: absolute;
  width: 50%;
  height: calc(100% - 113px);
  top: 0;
  right: 0;
  margin-top: 113px;

  img {
    object-position: left;
  }
}

@media (max-width: 1024px) {
  .apresentacao-img {
    display: none;
  }
}

// TABLET
@media (max-width: 768px) {
  .apresentacao-secao{
    &::before {

      width: 400px;
      height: 400px;

    }
  }
  .apresentacao-texto,
  .apresentacao-titulo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .apresentacao-secao .btn-container,
  .apresentacao-link-nav {
    justify-content: center;
  }

  .apresentacao-secao .btn-container {
    margin-bottom: 40px;
  }
}

// MOBILE
@media (max-width: 480px) {
  .apresentacao-texto {
    font-size: 24px;
    max-width: 20ch;
  }

  .apresentacao-titulo {
    font-size: 30px;
  }

  .apresentacao-secao .btn-primario {
    font-size: 18px;
  }

  .apresentacao-link-nav {
    font-size: 24px;
    gap: 15px;

    img {
      width: 23px;
      height: 16px;
    }
  }
}
