.projetos-secao {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 120px;
    left: -220px;
    background: radial-gradient(#4a2cc5, #5a83eb);
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.15;
    z-index: -1;
  }
}

.projetos-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#check {
  display: none;
}

.switch {
  position: relative;
  background: #000;
  width: auto;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.projetos-textos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 0px;
  position: relative;
  margin: 0 auto;
  z-index: 2;

  p {
    text-align: center;
    padding: 0 15px;
  }
}

.slider {
  position: absolute;
  background: linear-gradient(to right, #96c7f3, #4426bc);
  border-radius: 15px;
  width: calc(50%);
  height: 30px;
  transition: all 0.3s ease-in-out;
}

#check:checked ~ .switch .slider {
  transform: translateX(calc(100% - 10px));
}

// PROJETOS
.projetos-lista {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: 0.3s ease-out;
}

.projeto-item {
  display: block;
  gap: 15px;
  width: 385px;
  background: #131618;
  border-radius: 15px;
  padding: 25px;
  position: relative;
  margin: 20px auto 40px;

  &::before,
  &::after {
    content: "";
    display: block;
    border-radius: 15px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(to right, #96c7f3, #4426bc, #96c7f3);
    background-size: 200%;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
  }

  &::after {
    filter: blur(3px);
    animation: borda-animada 15s linear infinite;
    transition: 0.3s ease-out;
  }

  &:hover::after {
    filter: blur(10px);
  }
}

.projeto-img {
  display: block;
  height: 195px;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}

.projeto-txts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 265px;

  h3 {
    font-size: 24px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    color: #ccc;
  }

  span {
    font-size: 16px;
    font-weight: 300;
    color: #ccc;
  }
}

.projeto-item .btn-container {
  position: relative;
  z-index: 1;
  justify-content: center;
}

.projeto-item .btn-primario {
  font-size: 16px;
  padding: 5px 10px;
}

// SWIPER (CARROSSEL)

swiper-container::part(bullet-active) {
  background-color: var(--cor-primaria);
}

swiper-container::part(bullet) {
  background-color: #fff;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: var(--cor-primaria);
}

// TABLET
@media (max-width: 760px) {
  .projeto-item {
    width: 385px;
    margin: 20px auto 40px;
  }
}

// MOBILE
@media (max-width: 480px) {
  .projetos-secao .container {
    padding: 0;
  }

  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    width: 15px !important; /* Largura da seta */
    height: 30px !important; /* Altura da seta */
  }

  .projeto-item {
    width: auto;
    max-width: 385px;
    margin: 20px 40px 40px;
    gap: 15px;
    padding: 15px;
  }

  .projeto-img {
    height: auto;

    img {
      object-fit: contain;
    }
  }

  .projeto-txts {
    gap: 20px;
    height: auto;
    min-height: 235px;

    h3 {
      font-size: 18px;
      font-weight: 400;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      color: #ccc;
    }

    span {
      font-size: 14px;
      font-weight: 300;
      color: #ccc;
    }
  }

  .projeto-item .btn-container {
    gap: 15px;
  }

  .projeto-item .btn-primario {
    font-size: 14px;
    padding: 5px 10px;
  }
}
