<section class="projetos-secao secao" id="projetos">
  <div class="container">
    <h2 class="titulo center">Projetos</h2>

    <div class="projetos-botao">
      <input type="checkbox" id="check" (change)="isChecked = !isChecked">
      <label for="check" class="switch">
        <div class="projetos-textos">
          <p>Apps</p>
          <p>Sites</p>
        </div>
        <span class="slider"></span>
      </label>
    </div>

    <!-- Projetos Apps -->
    <swiper-container navigation="true" slides-per-view="3" pagination="true" effect="coverflow" centered-slides="true"
      coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
      coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false" *ngIf="isChecked" [breakpoints]="{
        '1200': {
          'slidesPerView': 3
        },
        '768': {
          'slidesPerView': 1
        },
        '425': {
          'slidesPerView': 1
        },
        '1': {
          'slidesPerView': 1
        }
      }">

      <swiper-slide lazy="true" *ngFor="let projetoItem of projetosApps">
        <div class="projeto-item">
          <picture class="projeto-img">
            <img src="{{ projetoItem.img }}" alt="" loading="lazy">
          </picture>
          <div class="projeto-txts">
            <h3>{{ projetoItem.titulo }}</h3>
            <p>{{ projetoItem.texto }}</p>
            <span>{{ projetoItem.tech }}</span>

            <div class="btn-container">
              <a href="{{ projetoItem.preview }}" target="_blank" rel="noopener noreferrer"
                [ngClass]="{'btn-primario': true, 'btn-disable': projetoItem.preview === ''}"><img
                  src="./img/preview.svg" alt="">Preview</a>
              <a href="{{ projetoItem.github }}" target="_blank" rel="noopener noreferrer"
                [ngClass]="{'btn-primario': true, 'btn-disable': projetoItem.github === ''}"><img src="./img/github.svg"
                  alt="">github</a>
            </div>
          </div>
        </div>
      </swiper-slide>

    </swiper-container>
    <!-- // Projetos Apps -->

    <!-- Projetos Sites -->
    <swiper-container navigation="true" slides-per-view="3" pagination="true" effect="coverflow" centered-slides="true"
      coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
      coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false" *ngIf="!isChecked" [breakpoints]="{
        '1200': {
          'slidesPerView': 3
        },
        '768': {
          'slidesPerView': 1
        },
        '425': {
          'slidesPerView': 1
        },
        '1': {
          'slidesPerView': 1
        }
      }">

      <swiper-slide lazy="true" *ngFor="let projetoItem of projetosSites">
        <div class="projeto-item">
          <picture class="projeto-img">
            <img src="{{ projetoItem.img }}" alt="" loading="lazy">
          </picture>
          <div class="projeto-txts">
            <h3>{{ projetoItem.titulo }}</h3>
            <p>{{ projetoItem.texto }}</p>
            <span>{{ projetoItem.tech }}</span>

            <div class="btn-container">
              <a href="{{ projetoItem.preview }}" target="_blank" rel="noopener noreferrer"
                [ngClass]="{'btn-primario': true, 'btn-disable': projetoItem.preview === ''}"><img
                  src="./img/preview.svg" alt="">Preview</a>
              <a href="{{ projetoItem.github }}" target="_blank" rel="noopener noreferrer"
                [ngClass]="{'btn-primario': true, 'btn-disable': projetoItem.github === ''}"><img src="./img/github.svg"
                  alt="">github</a>
            </div>
          </div>
        </div>
      </swiper-slide>

    </swiper-container>
    <!-- // Projetos Sites -->
  </div>
</section>
