<section class="sobre-secao secao" id="sobre">
  <div class="container">
    <div class="sobre-grid">
      <picture class="sobre-fotos">
        <img src="./img/foto-sobre.jpg" alt="" class="sobre-foto">
        <img src="./img/sobre-detalhe.svg" alt="" class="detalhe-sobre-foto">
      </picture>

      <div class="sobre-textos">
        <h2 class="titulo">Sobre</h2>
        <div class="sobre-texto">
          <p class="texto">Sou Mobile Engineer & Frontend Developer, com foco em Flutter e experiência em web e mobile.
            Gosto de transformar ideias em apps e interfaces funcionais, sempre unindo tecnologia e design de forma
            criativa.</p>

          <p class="texto">Curioso por natureza, estou sempre aprendendo coisas novas e me desafiando em projetos que me
            fazem crescer.</p>
        </div>
      </div>
    </div>
  </div>
</section>