<section class="sobre-secao">
  <div class="container">
    <div class="sobre-grid">
      <picture class="sobre-fotos">
        <img src="./img/foto-sobre.jpg" alt="" class="sobre-foto">
        <img src="./img/sobre-detalhe.svg" alt="" class="detalhe-sobre-foto">
      </picture>

      <div class="sobre-textos">
        <h2 class="titulo">Sobre</h2>
        <div class="sobre-texto">
          <p class="texto">Sou um Software Developer apaixonado por transformar ideias em realidade, combinando
            habilidades
            técnicas e criatividade.</p>

          <p class="texto">Estou sempre em busca de novas oportunidades para aperfeiçoar meus conhecimentos e trabalhar
            em projetos
            desafiadores.</p>
        </div>
      </div>
    </div>
  </div>
</section>
